.ico-fb {
  width: 45px;
  height: 45px;
}

.ico-googlep {
  width: 69px;
  height: 44px;
}

.ico-newest {
  width: 121px;
  height: 95px;
}

.ico-quality {
  width: 44px;
  height: 107px;
}

.ico-quarant {
  width: 138px;
  height: 138px;
}

.ico-sound {
  width: 137px;
  height: 118px;
}

.ico-temp {
  width: 104px;
  height: 113px;
}

.ico-time {
  width: 130px;
  height: 130px;
}

.ico-yt {
  width: 501px;
  height: 209px;
}

